<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Welcome Back 👋</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p style="color: {% if category == 'error' %}red{% else %}green{% endif %}; text-align:center;">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}
{% endwith %}

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <p style="text-align:center; margin-top:10px;">
        Don't have an account? <a href="/register">Register</a>
    </p>
</div>
</body>
</html>